<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="helping.hand">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <dist:module dist:instant="true" />

    <application
        android:name=".ParseClass"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".requets"></activity>
        <activity android:name=".RequestItem" />
        <activity android:name=".Avilable" />
        <activity android:name=".uploadv" />
        <activity android:name=".Items" />
        <activity android:name=".People" />
        <activity android:name=".Volunteer" />
        <activity android:name=".CreateAC" />
        <activity android:name=".Login" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@drawable/shape1" />

        <activity android:name=".SelectActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>